/* adding external font */
@font-face {
    font-family: Mooli-Regular;
    src: url(fonts/Mooli/Mooli-Regular.ttf);
  }
  :root {
    --background-color : #4e73df;
  }

.content{
    height: 100vh;
    font-family: Mooli-Regular;
}
.page-height{
    height:calc(100vh - 200px)
}
.main-header{
    background-color:  white;
}
.side-bar{
    background-color: cornflowerblue;
    
}
.fa-rotate-15 {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.default-font{
    font-family: Mooli-Regular;
}
.brand{
    font-weight: bold;
    color: white;
}
.brand-large{
    font-size: xx-large;
}
.brand-small{
    font-size: x-large;
}
.brand, .brand:hover
{   
    text-decoration: none;
}
.sidebar-divider{
    border-top: 1px solid whitesmoke;
}
.sidebar-icon{
    color:white;
    padding-right:30px;
}
.nav-item{
    padding-top: 10px;
    color:white;
}
/* .sidebar-link
{   
    
} */
.sidebar-link, .sidebar-link:hover
{   
    text-decoration: none;
    color: white;
}
/* .page{
   

} */

.page-navbar{
background-color: #6495ed;
}

.text-xs{
    font-size: x-small;
}

.text-s{
    font-size: smaller;
}
.text-grey{
color:dimgrey;
}

.login-page, .register_page{
    background-color: var(--background-color);
    font-family: Mooli-Regular;
}

.btn-facebook{
    background-color: #30497c;
    color:white;
}

.btn-facebook:hover {
    color: white;
    background-color:  #1f3052;
    border-color:  #1f3052;
  }

  .dropdown-toggle::after { 
    content: none; 
} 

/* .dropdown-menu-right{
    right: 0;
  left: auto;
} */

